/* Basic Rules */
body {
  font-family: georgia, sans-serif;
  margin-top: 20px;
}
h1{
  margin: 0px;
  font-family: "le-monde-livre-classic-std-s"; 
  font-size: 400%;
  color:black;
}

h2{
  font-family: "le-monde-livre-classic-std-s";
  font-size: 300%;
}

label{
  float: left;
}


div{
  vertical-align: middle;
}

p{
  width: 100%;
  font-size:16px;
  line-height: 1.7em;
}

/* navbar */
nav{
  background-color: #5bc0de;
  color: black;
  float: right;
}

#nav,.nav-link, .navi-item, .linkbuttons{
  border-radius: 10px;
}

.navbar-nav{
  border-color: black;
  border-width: 3px;
}

a.nav-link{
  color: black; 
}

.pcombimg {
  width: 30%;
  float: left;
}

#mainbody {
}

.col {
  border-color: black;
}

.buttonRow .btn-info{
  margin-left: 20px;
}
.buttonRow {
  margin-bottom:100px;
}

div.buttonRow .login {
  padding-left:20px;
  padding-right:20px;
  margin-left: 80px;
  margin-right: 20px;
}

.btn-lg{
  width: 200px;
}

.full-width{
  width: 100%;
  height: 100%;
  background-color: #cfe2e2;
}

.gray{
  background-color: #cccccc;
  margin: 0px;
}

.container-fluid{
  padding: 0px;
  background-color: #cccccc;
}

.jumbotron, .btn{
/*  border-width: 3px; 
  border-color: black; 
  color: black;*/
}

.jumbotron {
  background-color: white;
}

.orange {
  border-width: 3px; 
  border-color: black; 
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.linkbuttons{
  float: right; 
  height: 22px;
  width: 22px;
  margin: 2px;
}

.wrapper{
  margin-top: 30px;
}

.minitron {
  margin: 45px;
  text-align: justify;
}

.minitron h2 {
  text-align: center
}

p.message {
  text-align:center;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: -5px;
}

p.message-start {
  margin-top: 10px;
}

p.post-message{
  margin-top: 10px;
} 
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

#footer p {
  margin-bottom: 0;
}

form {
  padding-bottom: 100px;
}

#commentEntry form {
  padding-bottom: 0px;
}

#submit{
  width: 100%;
  margin: 2px;
  height: 60px;
}

.form-group-half {
  width: 48%;
  float: left;
}

.littlepush{
  margin-right: 4%;
}

#footer{
  text-align:center;
} 

.modal h3 {
  margin: 0;
}

/* Instructor Overview page */
div#studentList {
  margin-bottom: 100px;
}

/* Student Overview page */
div.studentBody{
  text-align: center;
}

.instructorHead h2 {
  text-align: center;
}

/* Comments Page */
.highlighted span {
  background-color: #e2e2e2;
}

.highlighted span:hover {
  background-color: #ffff4d;
  cursor: pointer;
}

.thePoem {
  margin-top: 20px;
  margin-left: 40px;
}

#poemBody {
  margin-top:20px;
  margin-left:0px;
}

p.a_summary {
  margin-bottom: 50px;
}

#commentSection{
  margin-top: 10px;
  margin-bottom: 100px;
}
p.commentAuthor{
  font-weight: bold;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 1px;
  padding-bottom: 2px;
  display:block;
}

p.commentText{
  font-weight: normal;
  margin-bottom: 1px;
  margin-left: 10px;
  line-height: 1.4em;
  display:block;
}

p.commentDate {
  font-size: 10px;
  margin-left: 15px;
}

#poem {
  margin-bottom: 120px;
}

#modalSubmit {
  margin-top: 10px;
}
#modalPoem span:hover {
  cursor: pointer;
}

div.assignmentSection{
  margin-top: 40px;
  margin-bottom: 60px;
}


@media screen and (max-width: 1200px) {
  div.buttonRow .login {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 120px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 992px) {
  div.buttonRow .login {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 135px;
    margin-right: 20px;
  }
}
/*still issues with small screens, need to convert to hamburger menu button*/
@media screen and (max-width: 769px) {
/*   .nav-item {
    float:right;
    }*/
   .pcombimg{
     float: none;
     width: 100%;
     margin-bottom: 30px;
     text-align: center;
   }
   nav{
    display: none;
   }
   .bg-faded{
     float: right;
   }
   ul li {
     float: none;
   }
   .jumbotron{
     background-color: transparent;
   }
  div.buttonRow .login {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .minitron p {
    text-align: center;
  }
  .buttonRow .btn-info{
    margin-left: 5px;
  }
  .buttonRow {
    text-align:center;
  }
}

