<!DOCTYPE html>
<html lang="en">
<head>
	<title>PoemComber: Professor Overview</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/poemcomber.css">
	<script src="https://use.typekit.net/wfb7ujx.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<!-- Custom Scripts -->
	<script src="/js/logout.js"></script>
	<script src="/js/instructor.js"></script>
</head>
<body>

	<div class="container">
		<!-- header and links -->
		<div class="col col-lg-12 titlecol">
			<div>
				<!-- page title image, will be replaced when we get a font -->
<!-- 				<img src="./assets/image/poemcombertitle.png" alt="Title"  class="pcombimg"> -->

				<h1 class="pcombimg">PoemComber</h1>

				<nav class="navbar navbar-light bg-faded" id="nav">
			  
					<ul class="nav navbar-nav">
					    <li class="nav-item active">
					      <a class="nav-link" href="/overview">Overview</a>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link" href="/postpoem">New Poem</a>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link" href="#" id="logout">Logout</a>
					    </li>
					    <li class="nav-item">
					     	<div class="linkmargin">
					     		<!-- facebook and twitter links -->
								<a href="https://www.facebook.com/Poem-Comber-1701581786760432/?ref=aymt_homepage_panel" target="_blank"><img class="linkbuttons" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" ></a>
								<br>
								<a href="http://www.twitter.com/poemcomber" target="_blank"><img class="linkbuttons" src="http://orig14.deviantart.net/66e7/f/2013/025/2/0/twitter_button__logo_v2_by_pixxiepaynee-d5sog0x.png"></a>
							</div>
					    </li>				
					</ul>
			 
				</nav>
			</div>
	
		</div>

		<!-- clears the floats from previous column -->
		<!-- header ends -->
		<!-- mainbody -->

		<div class="instructorHead"><h2>Instructor Dashboard</h2></div>

		<div class="col col-lg-8">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3><strong>Assignments</strong></h3>
				</div>
				<div class="panel-body" id="assignments">

				</div>
			</div>
		</div>

		<div class="col col-lg-4">
			<div class="panel panel-default" id="studentList">
				<div class="panel-heading">
					<h3><strong>Students</strong></h3>
				</div>
				<div class="panel-body" id="students">

				</div>
			</div>
		</div>


	</div> <!-- //container -->

		<!-- the footer -->
	<div class="container-fluid" id="footer">
		<div class="col col-lg-12 gray" >
			<p>Rutgers Coding Bootcamp</p>
			<p>Copyright (c) 2016</p>
		</div>
	</div>
	<!-- end footer -->


<script type="text/javascript">


</script>

</body>
</html>