<!DOCTYPE html>
<html>
<head>
	<title>professor overview</title>

		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>-->
 	<script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<meta charset="utf-8">
		<!--<style>
			body {background-color:blue;}
			a {background-color:yellow;}
			#mainbody {background-color:blue;margin:50px;}
			.col {border-color:black;background-color:blue;}
			div {text-align: center;vertical-align: middle;}
			.btn-info{margin:20px;}
			.btn-lg{width:200px;}
			.full-width{width:100%;height:100%;background-color: blue;}
			.gray{background-color: gray;margin:0px;}
			p{width:100%;}
			.container-fluid{padding:0px;background-color: gray;}
		</style>-->

			<link rel="stylesheet" type="text/css" href="poemcomb.css">
</head>
<body>

	<div class="container">
		<!-- header and links -->
		<div class="col col-lg-12 titlecol">
			<div>
				<!-- page title image, will be replaced when we get a font -->
				<img src="./assets/image/poemcombtitle.png" alt="Title"  class="pcombimg">

				<nav class="navbar navbar-light bg-faded">
			  
					<ul class="nav navbar-nav">
					    <li class="nav-item active">
					        <a class="nav-link" href="http://www.google.com/">Overview <span class="sr-only">(current)</span></a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link" href="http://www.google.com/">Assignment</a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link" href="http://www.google.com/">Comments</a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link" href="http://www.google.com/">Logout</a>
					    </li>
					    <li class="nav-item">
					     	<div class="linkmargin">
					     		<!-- facebook and twitter links -->
								<a href="http://www.facebook.com"><img class="linkbuttons" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" ></a>
								<br>
								<a href="http://www.twitter.com"><img class="linkbuttons" src="http://orig14.deviantart.net/66e7/f/2013/025/2/0/twitter_button__logo_v2_by_pixxiepaynee-d5sog0x.png"></a>
							</div>
					    </li>				
					</ul>
			 
				</nav>
			</div>
	
		</div>

		<!-- clears the floats from previous column -->
		<div style="clear:both"></div>
		<!-- header ends -->
		<!-- mainbody -->
			<div class="col col-lg-12">
				<div style="text-align:center;"><h1>Instructor</h1></div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>Assignments</strong></h3>
					</div>
					<div class="panel-body" id="assignments">
						id=assignments

					</div>
				</div>
			</div>

			<div class="col col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>Students</strong></h3>
					</div>
					<div class="panel-body" id="students">
						id=students

					</div>
				</div>
			</div>


	</div> <!-- //container -->

	  <!-- footer text -->
  <div class="wrapper">
    <p>Rutgers Coding Bootcamp</p>
    <div class="push"></div>
  </div>
  <div class="footer">
    <p>Copyright (c) 2016</p>
  </div>
  <!-- end footer text -->


<script type="text/javascript">

function getAssignments(){
		var currentURL = window.location.origin;

		

		$.get(currentURL + "/api/professoroverview/assignments", function(data){
			
			console.log("Test");
			console.log(data);

			for(var i = 0 ; i < data.length ; i++){

				var assignment = $('<div>');
				assignment.append("<h4>" + data[i].title  + "<h4>")
				$("#assignments").append(assignment);
			}
		

		})
}
function getStudents(){
		var currentURL = window.location.origin;

		

		$.get(currentURL + "/api/professoroverview/students", function(data){
			
			console.log("Test");
			console.log(data);

			for(var i = 0 ; i < data.length ; i++){

				var student = $('<div>');
				student.append("<h4>" + data[i].username  + "<h4>")
				$("#students").append(student);
			}
		

		})
}
getAssignments();
getStudents();
</script>

</body>
</html>
