<!DOCTYPE html>
<html lang="en">
<head>
	<title>PoemComber: Professor Overview</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assets/css/poemcomber.css">
	<script src="https://use.typekit.net/wfb7ujx.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

	<div class="container">
		<!-- header and links -->
		<div class="col col-lg-12 titlecol">
			<div>
				<!-- page title image, will be replaced when we get a font -->
<!-- 				<img src="./assets/image/poemcombertitle.png" alt="Title"  class="pcombimg"> -->

				<h1 class="pcombimg">PoemComber</h1>

				<nav class="navbar navbar-light bg-faded" id="nav">
			  
					<ul class="nav navbar-nav">
					    <li class="nav-item active">
					      <a class="nav-link" href="/overview.html">Overview
					       </a>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link" href="/postpoem.html">New Poem</a>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link" href="/comments.html">Comments</a>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link" href="/login.html">Logout</a>
					    </li>
					    <li class="nav-item">
					     	<div class="linkmargin">
					     		<!-- facebook and twitter links -->
								<a href="https://www.facebook.com/Poem-Comber-1701581786760432/?ref=aymt_homepage_panel"><img class="linkbuttons" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" ></a>
								<br>
								<a href="http://www.twitter.com"><img class="linkbuttons" src="http://orig14.deviantart.net/66e7/f/2013/025/2/0/twitter_button__logo_v2_by_pixxiepaynee-d5sog0x.png"></a>
							</div>
					    </li>				
					</ul>
			 
				</nav>
			</div>
	
		</div>

		<!-- clears the floats from previous column -->
		<div style="clear:both"></div>
		<!-- header ends -->
		<!-- mainbody -->

		<div style="text-align:center;"><h2>Instructor Dashboard</h2></div>

		<div class="col col-lg-8">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3><strong>Assignments</strong></h3>
				</div>
				<div class="panel-body" id="assignments">
					id=assignments

				</div>
			</div>
		</div>

		<div class="col col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3><strong>Students</strong></h3>
				</div>
				<div class="panel-body" id="students">
					id=students

				</div>
			</div>
		</div>


	</div> <!-- //container -->

		<!-- the footer -->
	<div class="container-fluid" id="footer">
		<div class="col col-lg-12 gray" >
			<p>Rutgers Coding Bootcamp</p>
			<p>Copyright (c) 2016</p>
		</div>
	</div>
	<!-- end footer -->


<script type="text/javascript">

function getAssignments(){
		var currentURL = window.location.origin;

		

		$.get(currentURL + "/api/professoroverview/assignments", function(data){
			
			console.log("Assignment");
			console.log(data);

			for(var i = 0 ; i < data.length ; i++){

				var assignment = $('<div>');
				assignment.append("<a href='/comments/" + data[i].id + "/'>" + data[i].title  + ", by " + data[i].author +"</a>")
				$("#assignments").append(assignment);
			}
		

		})
}
function getStudents(){
		var currentURL = window.location.origin;

		
		var dataArr = [];
		$.get(currentURL + "/api/professoroverview/students", function(data){
			console.log(data);
				dataArr = data;
		$.each(dataArr, function(i){
					var id = dataArr[i].id;
					var obj = {"id": id };
			$.post(currentURL + "/api/professoroverview/studentcomments", obj , function(c_data){
				console.log(i);
				var student = $('<div class="students" data-id=' + dataArr[i].id +'>');
				student.append("<h4>" + dataArr[i].username  + "<h4>");
				if (c_data.length > 1) {
					var list = $('<ul>');
					for (var j = 0; j < c_data.length; j++){
						list.append("<li><a href='/comments/" + c_data[j].assignment.id + "'>For \"" +
												c_data[j].assignment.title + "\"</a>: " + c_data[j].comment + "</li>");
					}
					student.append(list);
				}
				$("#students").append(student);
			})
		})			
	})
	}

 $(document).on('click', '.students', function(){
 	
 	var currentURL = window.location.origin;
 	var id = $(this).attr('data-id');
 	var obj = {id:id };



 
 	console.log("test");
 	console.log(data);
})


getAssignments();
getStudents();
</script>

</body>
</html>