<!DOCTYPE html>
<html lang="en">
<head>
	<title>PoemComber</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<meta name="google-site-verification" content="vLgD51gQPxbLcZQzXLpWje9k2zABEz0e0Tr9t8Pctjc" />
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/poemcomber.css">
	<script src="https://use.typekit.net/wfb7ujx.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<!-- Custom Scripts -->
	<script src="/js/logout.js"></script>
	<script src="/js/login.js"></script>


</head>
<body>
	<div class="container">
		<!-- header and links -->
		<div class="col col-lg-12 titlecol">
			<div>

				<h1 class="pcombimg">PoemComber</h1>

				<nav class="navbar navbar-light bg-faded" id="nav">
			  
					<ul class="nav navbar-nav">
					    <li class="nav-item">
					      <a class="nav-link" href="#" id="logout">Logout</a>
					    </li>
		
					</ul>
			 
				</nav>
			</div>
	
		</div>

		<!-- header ends -->

		<!-- mainbody -->
		<div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
			<div id="mainbody">
			<!-- <div class="jumbotron"> -->
				<div class="minitron">
				<h2>What is <span>PoemComber?</span></h2>
					<p>Students typically read poetry alone--at their desks, in library cubicles, but most of the time by themselves.</p> 
					<p>Yet the act of studying literature always involves collaboration of some sort. Students learn to read poetry with the various skills that their instructors teach, but don't always discover the value of sharing their interpretations with classmates.</p>
					<p class="message message-start"><strong>PoemComber turns literary analysis</strong></p> 
					<p class="message"><strong>into a collaborative experience.</strong></p>
					<p class="post-message">Each class gets their own version of the site, offering students a simple means for sharing their thoughts on the poetry assigned by their instructor.</p>
					<p>By forming an online community for each classroom, PoemComber hopes its users will witness how the same work can spawn a bounty of interpretations.</p>
				</div>
			</div>
		</div>
				
			<!-- Login and Register Buttons -->
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-2">
				<div class="buttonRow">
					<!-- Trigger the modal with a button -->
					<button type="button" class="btn btn-info btn-md login" data-toggle="modal" data-target="#myModal" id="loginModal">Login</button>
					<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal2" id="registerModal">Register</button>
				</div>

				<!-- <div class="col col-lg-8">asdf</div>
				<div class="col col-lg-4">asdf</div> -->
			</div>
		</div>
	</div>

	<!-- the footer -->
	<div class="container-fluid" id="footer">
		<div class="col col-lg-12 gray" >
			<p>Rutgers Coding Bootcamp</p>
			<p>Copyright (c) 2016</p>
		</div>
	</div>
	<!-- end footer -->

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content" >
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h3>Login</h3>	
	      </div>
	      <div class="modal-body" id="modal-content">
			<!-- submission form -->	
	  		<form>
		    	<div class="form-group">
		       		<label for="user name">User Name</label>
		        	<input type="text" class="form-control" id="log_username" placeholder="">
		        </div>

		        <div class="form-group">
		        	<label for="Password">Password</label>
		        	<input type="password" class="form-control" id="log_password" placeholder="">
		        </div>

		        <button type="submit" class="btn btn-default" id="login">Submit</button>
			</form>

	      </div>
	    </div>
	  </div>
	</div>

	<div id="myModal2" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content" >
	      <div class="modal-header">

	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h3>Register</h3>		
	      </div>
	      <div class="modal-body" id="modal-content">
			<!-- submission form -->
	  		<form>
		    	<div class="form-group">
		       		<label for="user name">User Name</label>
		        	<input type="text" class="form-control" id="reg_username" placeholder="">
		        </div>

		        <div class="form-group">
		        	<label for="Password">Password</label>
		        	<input type="password" class="form-control" id="reg_password" placeholder="">
		        </div>

		        <button type="submit" class="btn btn-default" id="register">Submit</button>
			</form>

	      </div>
			<!-- submission form ends -->
	    </div>
	  </div>
	</div>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38747118-2', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>