<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PoemComber: Post a Poem</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="assets/js/postpoem.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/css/poemcomber.css">
	<script src="https://use.typekit.net/wfb7ujx.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
	<div class="container">
				<!-- header and links -->
		<div class="col col-lg-12">
			<div>
				<h1 class="pcombimg">PoemComber</h1>

				<nav class="navbar navbar-light bg-faded" id="nav">
			  
			  <ul class="nav navbar-nav">
			    <li class="nav-item active">
			      <a class="nav-link" href="/overview.html">Overview
			       </a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="/postpoem.html">New Poem</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="/comments.html">Comments</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="/login.html">Logout</a>
			    </li>
			    <li class="nav-item">
			     	<div class="linkmargin">
						<a href="https://www.facebook.com/Poem-Comber-1701581786760432/?ref=aymt_homepage_panel"><img class="linkbuttons" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" ></a>
						<br>
						<a href="http://www.twitter.com"><img class="linkbuttons" src="http://orig14.deviantart.net/66e7/f/2013/025/2/0/twitter_button__logo_v2_by_pixxiepaynee-d5sog0x.png"></a>
					</div>
			    </li>				
			  </ul>
			</nav>
			</div>
		</div>

		<!-- clears the floats from previous column -->
		<div style="clear:both"></div>
		<!-- header ends -->

		<div class="row">
			<div class="col-md-12" style="text-align:center;">
					<h2>Submit a Poem</h2>
					<h3>Please fill out the form below</h3>
			</div>
		</div>



		<div class="row">
			<div class="col-md-12">
				<form id="postpoem">
				<div>
				  <div class="form-group form-group-half littlepush">
				    <label for="title">Title</label>
				    <input type="text" class="form-control" id="title" placeholder="Enter the title of the work">
				  </div> 

				  <div class="form-group form-group-half">
				    <label for="author">Author</label>
				    <input type="text" class="form-control" id="author" placeholder="Enter the author of the work">
				  </div> 
				</div>
			  <div class="form-group">
			    <label for="summary">Assignment Summary</label>
			    <textarea class="form-control" rows="4" id="summary"></textarea>
			  </div>
			  <div class="form-group">
			    <label for="email">Excerpt</label>
			    <textarea class="form-control" rows="15" id="excerpt"></textarea>
			  </div>
			  <button type="submit" class="btn btn-info" id="submit">Submit</button>
			</form>
			</div>
		</div>
	</div>

		<!-- the footer -->
	<div class="container-fluid" id="footer">
		<div class="col col-lg-12 gray" >
			<p>Rutgers Coding Bootcamp</p>
			<p>Copyright (c) 2016</p>
		</div>
	</div>
	<!-- end footer -->
</body>
</html>