<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post a Poem</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="assets/js/postpoem.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Poem Comber</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Submit a Poem</h2>
				<h3>Please fill out the proper information below</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<form id="postpoem">
			  <div class="form-group">
			    <label for="title">Title</label>
			    <input type="text" class="form-control" id="title" placeholder="Enter the title of the work">
			  </div> 
			  <div class="form-group">
			    <label for="summary">Assignment Summary</label>
			    <textarea class="form-control" rows="5" id="summary"></textarea>
			  </div>
			  <div class="form-group">
			    <label for="email">Excerpt</label>
			    <textarea class="form-control" rows="15" id="excerpt"></textarea>
			  </div>
			  <button type="submit" class="btn btn-default" id="submit">Submit</button>
			</form>
			</div>
		</div>
	</div>
	
</body>
</html>