<!DOCTYPE html>
<html>
<head>
	<title>students overview</title>

		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77954032-1', 'auto');
  ga('send', 'pageview');

</script>

		<meta charset="utf-8">
		<style>
			body {background-color:blue;}
			a {background-color:yellow;}
			#mainbody {background-color:blue;margin:50px;}
			.col {border-color:black;background-color:blue;}
			div {text-align: center;vertical-align: middle;}
			.btn-info{margin:20px;}
			.btn-lg{width:200px;}
			.full-width{width:100%;height:100%;background-color: blue;}
			.gray{background-color: gray;margin:0px;}
			p{width:100%;}
			.container-fluid{padding:0px;background-color: gray;}
		</style>
</head>
<body>

	<div class="container">
		<!-- header and links -->
		<div class="col col-lg-12">
			<div style="float:left;background-color:gray;">
				<h1>PoemComb</h1>
			</div>
			<div style="float:right;">
				<a href="http://www.google.com/">Overview</a>
				<a href="http://www.google.com/">Assignment</a>
				<a href="http://www.google.com/">Comments</a>
				<a href="http://www.google.com/">Logout</a>
			</div>
		</div>
		<!-- clears the floats from previous column -->
		<div style="clear:both;"></div>
		<!-- mainbody -->
			<div class="col col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>Assignments</strong></h3>
					</div>
					<div class="panel-body" id="assignments">


					</div>
				</div>
			</div>



		</div>
	




	


<script type="text/javascript">

function getAssignments(){
		var currentURL = window.location.origin;

		

		$.get(currentURL + "/api/studentoverview/assignments", function(data){
			
			console.log("Test");
			console.log(data);

			for(var i = 0 ; i < data.length ; i++){

				var assignment = $('<div>');
				assignment.append("<h4>" + data[i].title  + "<h4>")
				$("#assignments").append(assignment);
			}
		

		})
}

getAssignments();

</script>

</body>
</html>